@charset "utf-8";

    header {position:fixed; left:0; top:0; width:100%; height:60px; z-index:9; transition:all 0.2s ease-in; }
    header.dark{background:rgba(3, 8, 37, 0.97);} 
    header:hover{background:rgba(3, 8, 37, 0.97);}

    .banner {position:relative; overflow:hidden; color:#f6f6f6; text-align:center;}
    .content {
    position:absolute; top:0; left:0;
    width:100%; height:100%;
    object-fit:cover; z-index:-999;
    }
    .bbox30 {position:absolute; left:0; top:0;
    background:#000; opacity:30%; z-index:-1;}
    .sub-menu-ps-bg{ position:relative;  width:100%; height: 100%; border-radius:10px; background:url("../img/ps/ps5-console-bg2.jpg")no-repeat right center; background-size: cover;}
   .sub-menu-ns-bg{ position:relative;  width:100%; height: 100%; border-radius:10px; background:url("../img/common/ns-hero_pic_oled.png")no-repeat right center; background-size: cover;}
   
@media screen and (min-width:1400px) {
    #trigger {display: none;}
    nav {   
        display: flex; justify-content:space-between; align-items: center;
        width: 1300px; height: 100%;margin: 0 auto;
    }
    #main-menu, .top-menu {display: flex;}
    #main-menu > li > a {padding:18px 45px; text-transform: uppercase; }
    .top-menu a {padding-left:10px; font-size: 26px}
    /* =====dropdown menu===== */
   
    .sub-menu{ display:none; position:fixed;  left:0; top:60px; width:100%;  height:300px; background:rgba(5, 12, 51, 0.85); }
    .sub-menu-wrap{ display:flex;  width:1300px; height:300px; margin:0 auto; background:rgba(17, 26, 68, 0.75); }

    .sub-menu-title{position:relative;  width:350px; font-size:62px;  border-radius:10px; background:rgba(0,0,0, 0.4);}
    .sub-menu-title > div::before{content:""; position:absolute; left:0; top:0;width:100%; height:100%; background:rgb(0, 0, 0,0.5)}
    .sub-menu-title > h6{position:absolute;  left:40px;  top:40%; width:280px; text-align:center;}

    .sub-menu-info-wrap{
         display:flex; justify-content: center; 
        width:950px; height:300px; 
        background: rgb(13, 22, 54,0.3);
        box-shadow:0 0 30px rgba(0,0,0, 0.4) inset;
    }
    .sub-menu-info{ padding:55px 60px;  text-align:center; line-height:60px; }
    .sub-menu-info >li > a {width:190px; transition: all 0.3s ease-in;}

    #main-menu > li > a:hover {color: #6389ff;}
    .sub-menu-info > li > a:hover{ color: #6389ff;  box-shadow:2px 2px 4px rgba(0, 0, 0, 0.75); border-radius:10px;}
    /* ========================== */
    .banner {height:600px;}

    .b-box1 { width:100%; height:600px;}
    .b-box2 { left:-205px; top:-35px; width:1309px; height:500px; transform:rotate(58deg);}
    .b-box3 {left:-10px; top:-15px; width:1950px; height:700px; transform:rotate(-36deg);}
    .b-box4 {left:410px; top:-35px; width:1930px; height:700px; transform:rotate(-67deg);}

    h2 { padding-top:325px; font-size: 72px; }
    .banner p { font-size: 22px;}
    h3 { font-size:48px; font-weight:500;}
    h4  {font-size:34px; }

    /* .banner p { margin-top:20px; font-size: 22px; } */
    .sub-title { padding:100px 0 50px; text-align: center; } /*sub-title 로 수정 */
    
    /* ======자세히 보기 버튼==== 한별 추가 */
    .more-btn {  /*수정사항: widt 150 변경 font-size 16px 변경 박스 그림자 추가  참고사항: 스마트폰 크기 :width100 height 50*/ 
        width:150px; height:60px;
        font-size:16px; color:#6389ff; text-align:center; line-height:60px;
        background:#fff; border-radius:30px;
        transition:all 0.4s;
    }
    .more-btn:hover{ /*버튼 하버*/
        box-shadow:inset 0 0 0 30px rgb(0,0,0,0.3);
        background:#6389ff; color:#f1f1e6;
    }
    section { width:1300px; margin:0 auto; }  
    
    footer{margin-top:100px; background:#313236;} 
    .ft-wrap{
        display:flex; justify-content:space-between;
        width:1300px; margin:0 auto; padding:100px 0 200px;}
    .ft-menu, .ft-sns{display: flex;}
    .ft-menu a {padding:0 17px;}
    .ft-menu a:first-child {padding-left:0;}
    .ft-comname {padding:50px 0;}
    .ft-sns {padding:90px 0;}
    .ft-sns a{font-size:30px; padding-left:30px;}
}




@media screen and (min-width:1050px) and (max-width: 1399px) {
    #trigger {display: none;}
    h2 { padding-top:325px; font-size: 68px;} 
    h3 { font-size:46px; font-weight:500;}
    h4{font-size:32px;}
    nav {   
        display: flex; justify-content:space-between; align-items: center;
        width: 1000px; height: 100%;margin: 0 auto;
    }
    #main-menu, .top-menu {display: flex; }
    #main-menu > li > a {padding:0 35px; text-transform: uppercase; }
    .top-menu a {padding:0 0 10px 10px; font-size: 26px}

    /* =====dropdown menu===== */
    .sub-menu{ display:none; position:fixed;  left:0; top:60px; width:100%;  height:300px; background:rgba(5, 12, 51, 0.85); }
    .sub-menu-wrap{ display:flex;  width:1000px; height:300px; margin:0 auto; background:rgba(17, 26, 68, 0.75); }

    .sub-menu-title{ position:relative;  width:300px; font-size:58px;  background:rgba(0,0,0, 0.4);}
    .sub-menu-title > .sub-menu-bg::before{content:""; position:absolute; left:0; top:0;width:100%; height:100%; background:rgb(0, 0, 0,0.5)} 
    .sub-menu-title > h6{position:absolute;  left:10px;  top:40%; width:280px; text-align:center;}

    .sub-menu-info-wrap{display:flex; justify-content: center; width:700px; height:300px;  background: rgb(13, 22, 54,0.3); box-shadow:0 0 30px rgba(0,0,0, 0.4) inset;}
    .sub-menu-info{width:33%; padding:55px 0px;  text-align:center; line-height:60px; }
    .sub-menu-info >li > a {position:relative; transition: all 0.3s ease-in;}
    #main-menu > li > a:hover {color: #6389ff;}
    .sub-menu-info > li > a:hover{color: #6389ff; border-radius:10px; box-shadow:0 0 0 30px rgba(22, 40, 94, 0.3) inset;}
  
    /* ====================== */
    .banner { height:600px;}
    .banner p { font-size: 22px; }

    .b-box1 { width:100%; height:600px;}
    .b-box2 { left:-620px; top:-35px; width:1309px; height:500px; transform:rotate(58deg);}
    .b-box3 {left:-10px; top:-15px; width:1950px; height:700px; transform:rotate(-35.5deg);}
    .b-box4 {left:75px; top:-35px; width:1930px; height:450px; transform:rotate(-58deg);}

    .sub-title { padding:80px 0 40px; text-align: center; } /*sub-title 로 수정 */
    section { width:1000px; margin:0 auto; }

    /* ======자세히 보기 버튼==== 한별 추가 */
    .more-btn {  /*수정사항: widt 150 변경 font-size 16px 변경 박스 그림자 추가  참고사항: 스마트폰 크기 :width100 height 50*/ 
        width:150px; height:60px;
        font-size:16px; color:#6389ff; text-align:center; line-height:60px;
        background:#fff; border-radius:30px;
        transition:all 0.4s;
    }
    .more-btn:hover{ /*버튼 하버*/
        box-shadow:inset 0 0 0 30px rgb(0,0,0,0.3);
        background:#6389ff; color:#f1f1e6;
    }
    footer{margin-top:80px; background:#313236 ;} 
    .ft-wrap{display:flex; justify-content:space-between; width:1000px; margin:0 auto; padding:80px 0 160px;}
    .ft-menu, .ft-sns{display:flex;}
    .ft-menu a {padding:0 14px;}
    .ft-menu a:first-child {padding-left:0;}
    .ft-comname {padding:40px 0;}
    .ft-sns {padding:70px 0;}
    .ft-sns a{font-size:30px; padding-left:30px;}
}


@media screen and (min-width:750px) and (max-width:1049px){
    h2 { padding-top:325px; font-size: 58px;}
    h3 { font-size:36px; }
    h4{ font-size:28px; }
    nav{ height:100%;}
    .logo {position:absolute; left:30px; top:18px;  }
     
    #trigger {
        position:absolute; right:30px; top:18px;
        width:30px; height:20px;
        z-index:99;
    }
    #trigger span {
        position:absolute;  width:100%; height:2px;
        background:#f2f5d4;
        transition:all 0.4s ease-in;
    }
    #trigger span:nth-child(1) { top:0; }
    #trigger span:nth-child(2) { top:9px; background:#caca64; }
    #trigger span:nth-child(3) { bottom:0; }
    
    #main-menu {
         position:absolute; right:0; top:0;
        width:0; height:100vh;
         padding-top:150px; 
         text-align:center; 
         background:rgba(15, 24, 54,0.98); opacity:0;
        transition: all 0.4s ease-in; z-index:95;
        }
    #main-menu > li > a { padding:20px; font-size:24px;  pointer-events: none; }
    #main-menu > li > a:hover { color: rgb(99, 137, 255);}

    #trigger.tabmenu span:nth-child(1) { width:85%; transform:translateY(9px) rotate(-135deg); }
    #trigger.tabmenu span:nth-child(2) { opacity:0; }
    #trigger.tabmenu span:nth-child(3) { width:85%; transform:translateY(-9px) rotate(135deg); }
    #main-menu.tabmenu{ right:0; width:80%; opacity:1; }     
    .top-menu.tabmenu{right:67%;  opacity: 1;}

    .sub-menu{ display:none;  background:rgba(11, 20, 49, 0.8); box-shadow:0 0 20px rgba(0,0,0,0.3)inset; }
    .sub-menu-info-wrap{display:flex; justify-content:center;  padding:40px 0;  }
    .sub-menu-title{display:none;}
    .sub-menu-info a{padding:20px 40px;font-size:18px;  text-align:center; transition:all 0.3s }

    .top-menu {display: flex;  position:absolute; right:-50%; top:5px; opacity:0; transition:all 0.4s ease-in; z-index:99;}
    .top-menu a{ padding-left:15px; font-size:30px; }
    
    .banner { height:650px;}
    .banner p {font-size: 18px;}

    .b-box1 { width:100%; height:650px;}
    .b-box2 { left:-675px; top:-15px; width:1309px; height:510px; transform:rotate(57deg);}
    .b-box3 {left:-10px; top:-15px; width:1950px; height:700px; transform:rotate(-38.5deg);}
    .b-box4 {left:-19px; top:-35px; width:1930px; height:450px; transform:rotate(-70deg);}
    .sub-title { padding:70px 0 35px; text-align: center; }
    /* ====================================== */
    
    section { width:750px; margin:0 auto; }

    .more-btn { 
        width:120px; height:50px; 
        font-size:16px; color:#6389ff; text-align:center; line-height:50px;
        background:#fff; border-radius:30px;
        transition:all 0.4s;
    }
    .more-btn:hover{ /*버튼 하버*/
        box-shadow:inset 0 0 0 30px rgb(0,0,0,0.3);
        background:#6389ff; color:#f1f1e6;
    }

    footer{height:415px; margin-top:50px; background:#313236;}
    .ft-wrap{text-align:center; padding-top:50px;}
    .ft-menu, .ft-sns{display:flex; justify-content:center; width:750px; margin:0 auto;}
    .ft-menu a {padding:0 10px;}
    .ft-comname {padding:30px 0;}
    .ft-sns {padding:50px 0 100px;}
    .ft-sns a{font-size:34px; padding-left:27px;}
}



/* ------------------------------------------ */
@media screen and (max-width:749px) {
    h3 { font-size:30px; font-weight:500; }
    h4 { font-size:22px; }
    nav{width:100%; height:100%;  z-index:9; }
    .logo {position:absolute; left:50%; top:18px;  transform:translate(-50%, 0); }
    #trigger {
        position:absolute; left:30px; top:18px;
        width:30px; height:20px;
        z-index:99;
    }
    #trigger span {
        position:absolute;  width:100%; height:2px;
        background:#f2f5d4;
        transition:all 0.4s ease-in;
    }
    #trigger span:nth-child(1) { top:0; }
    #trigger span:nth-child(2) { top:9px; background:#caca64; }
    #trigger span:nth-child(3) { bottom:0; }
    
    #main-menu {
         position:absolute;left:-400px;
        width:50%; height:100vh;
         padding-top:150px; 
         text-align:center; 
        background:rgba(15, 24, 54);opacity:0;
        transition: all 0.4s ease-in; z-index:95;
        }
    #main-menu > li > a { padding:20px; font-size:24px; pointer-events: none; }
    #main-menu > li > a:hover { color: rgb(99, 137, 255); }

    #trigger.tabmenu span:nth-child(1) { width:85%; transform:translateY(9px) rotate(-135deg); }
    #trigger.tabmenu span:nth-child(2) { opacity:0; }
    #trigger.tabmenu span:nth-child(3) { width:85%; transform:translateY(-9px) rotate(135deg); }
    #main-menu.tabmenu{left:0;  width:100%; opacity:1;}     
     .top-menu.tabmenu{right:30px; opacity:1;}

     .sub-menu{ display:none; padding:40px 0;background:rgba(11, 20, 49, 0.4);box-shadow:0 0 20px rgba(0,0,0,0.3)inset;}
    .sub-menu-info-wrap{display:flex;  justify-content:center; flex-wrap: wrap;}
    .sub-menu-info:last-child{display: flex;}
    .sub-menu-title{display:none;}
    .sub-menu-info a{width:175px; padding:20px 35px; font-size:18px;  text-align:center;  transition:all 0.3s }

    .top-menu {display: flex;  position:absolute; right:0; top:2px; opacity:0; z-index:99; transition:all 0.3s ease-in;}
    .top-menu a{ padding-left:15px; font-size:30px; }

    .banner { display: flex; justify-content: center; align-items: center; height:100vh;}
    h2 { font-size: 54px; line-height:50px; }
    .banner p {  font-size: 16px; }

    
    .b-box1 { width:100%; height:100vh;}
    .b-box2 { left:-590px; top:300px; width:1309px; height:510px; transform:rotate(70deg);}
    .b-box3 {left:-345px; top:-15px; width:1950px; height:800px; transform:rotate(-61deg);}
    .b-box4 {left:-415px; top:15px; width:1930px; height:400px; transform:rotate(-80deg);}
    
    section { width:350px; margin:0 auto; }

    .sub-title { padding:50px 0 25px; text-align: center; } /*sub-title 로 수정 */
    /* ======자세히 보기 버튼==== 한별 추가 */
    .more-btn {  /*수정사항: widt 150 변경 font-size 16px 변경 박스 그림자 추가  참고사항: 스마트폰 크기 :width100 height 50*/ 
        width:100px; height:50px;
        font-size:16px; color:#6389ff; text-align:center; line-height:50px;
        background:#fff; border-radius:30px;
        transition:all 0.4s;
    }
    .more-btn:hover{ /*버튼 하버*/
        box-shadow:inset 0 0 0 30px rgb(0,0,0,0.3);
        background:#6389ff; color:#f1f1e6;
    }

    footer{height:420px; margin-top:50px; background:#313236; font-size:14px;}
    .ft-wrap{text-align:center; padding-top:50px;}
    .ft-info-wrap {display:flex; justify-content:center; flex-wrap:wrap; overflow:hidden;}
    .ft-menu, .ft-sns{display:flex; justify-content:center; margin:0 auto;}
    .ft-menu a {padding:0 5px;}
    .ft-comname {width:340px; margin:0 auto; padding:25px 0;}
    .ft-sns {padding:60px 0;}
    .ft-sns a{font-size:34px; padding-left:27px;}
}