@charset "utf-8";

/* 1번. 배경 남색 #141e41
2번. 메인타이틀 파란색#6389ff 연두색#caca64 흰색#f9f9f9
3번. 본문 #f1f1e6
4번. 서브타이틀/본문 강조색 #6389ff
5번. footer 배경색 #2d2e32 */

/* hg: highlight, ygrn: yellogreen */
.hg-blue {color:#6389ff;}
.hg-ygrn {color:#caca64;}

@media screen and (min-width:1060px) {
    #trigger {display: none;}
    h2 {font-size: 72px;}
    h3{font-size:48px}
    header {position:fixed; left: 0; top:0; width: 100%; height: 60px; }
    header::after{content:''; position:absolute; width:100%; top:0;}
    nav {   
        display: flex; justify-content: space-between; align-items: center;
        width: 1300px; height: 100%;margin: 0 auto;
    }
    #main-menu, .top-menu {display: flex;}
    #main-menu > li > a {
        padding:0 45px;
        font-size: 16px; text-transform: uppercase; 
    }
    .top-menu a {padding-left: 25px; font-size: 26px}
    /* =====dropdown menu===== */
    #main-menu > li {position:relative; z-index:9;}
    .sub-menu{ position:absolute; display:none; width:100%; padding-top:20px; z-index:9;}
    .sub-menu > li > a{  text-align:center;  line-height:50px; }
    #main-menu > li > a:hover {color: #6389ff;}
    .sub-menu > li:hover {background:#6389ff; }
    header.active::after{ left:0; top:0; width:100%; height:250px; background:rgb(18, 26, 56,0.7)}
    /* ========================== */

    .banner {
        display: flex; justify-content: center; align-items: center;
        height: 600px;
        text-transform: uppercase; color:#f9f9f9;
    }
    .sub-box{
        display:flex; justify-content:center; align-items:center;
        width:100%; margin-top:100px;
     }
    
    .main-title p{margin-top:20px; text-align: center; font-size: 22px;}
    .sub-title p{ margin-top:15px; text-align: center;}
}
