@charset "utf-8";
  main { position: relative; width: 100%; height: 100vh; }
  main::before {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1; content: "";
  }
  video { position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: 0; }

@media screen and (min-width:1400px) {
  h2 {
    position: absolute; left: 20%; bottom: 50vh; z-index: 2;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wght" 800, "wdth" 75;
    font-size: 120px;
    line-height: 90px;
    text-transform: lowercase;
    text-shadow: 2px 2px 2px black;
  }
  h2 span { display: block; }
  h2 .hg-blue, h2 .hg-ygrn { text-transform: capitalize; }
  h2 .space { margin-left: 40px; }

  .index-buttons { position: absolute; bottom: 40vh; right: 20%; }
  .index-chat { width: 100px; height: 100px;  background: url(../img/index/index-chat.png) no-repeat center center; }
  .index-quick { width: 100px; height: 100px;  background: url(../img/index/index-quick.png) no-repeat center center; margin-top: 20px; }

  .index-contents {
    position: absolute; left: 50%; top: 60%; transform: translate(-50%, 0);
    text-align: center; z-index: 2;
  }
  .index-contents h4 { font-size: 24px; }
  .index-contents a {
    width: 200px; height: 50px; margin: 50px auto 180px;
    font-size: 26px; line-height: 42px;
    border: 2px solid; border-radius: 20px;
  }
  .index-contents p span { color: #EF1111; }
}




@media screen and (min-width:1050px) and (max-width:1399px) {

}
@media screen and (min-width:750px) and (max-width:1049px) {
  
}
@media screen and (max-width:749px) {
  main { position: relative; width: 100%; height: 100vh; }
  main::before {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1; content: "";
  }
  video { position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: 0; }
}