@charset "utf-8";

.Scheduler {
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:1400px) {


    /*========== Who we are !!! ==========*/
    .ns-wwa-wrap {
        display: flex;
        justify-content: space-between;
    }

    .ns-wwa-bg1 {
        width: 900px;
        height: 500px;
        background: url('../img/ns/ns-wwa-bg1.png') no-repeat center center;
        background-size: cover;
    }

    .ns-wwa-contents {
        width: 350px;
        height: 500px;
        padding-top: 200px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    .ns-wwa-contents .more-btn {
        margin: 45px auto 0;
    }

    .ns-wwa-bg2 {
        width: 350px;
        height: 500px;
        margin-top: 25px;
        background: url('../img/ns/ns-wwa-bg2.png') no-repeat center center;
        background-size: cover;
    }

    .ns-wwa-bg3 {
        width: 900px;
        height: 500px;
        margin-top: 25px;
        background: url('../img/ns/ns-wwa-bg3.png') no-repeat center center;
        background-size: cover;
    }

    .ns-wwa-txt {
        padding-top: 50px;
        text-align: center;
    }



    /*========== Line - up product ==========*/
    .ns-lp-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-lp-bg {
        height: 450px;
        margin-right: 10px;
        padding-top: 340px;
        transition: all 0.3s ease-in;
    }

    .ns-lp-bg3,
    .ns-lp-bg6 {
        margin-right: 0;
    }

    .ns-lp-bg1 {
        width: 220px;
        background: url('../img/ns/ns-lp-bg1.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg2 {
        width: 600px;
        background: url('../img/ns/ns-lp-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg3 {
        width: 460px;
        background: url('../img/ns/ns-lp-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg4 {
        width: 460px;
        margin-top: 5px;
        background: url('../img/ns/ns-lp-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg5 {
        width: 600px;
        margin-top: 5px;
        background: url('../img/ns/ns-lp-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg6 {
        width: 220px;
        margin-top: 5px;
        background: url('../img/ns/ns-lp-bg6.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg .more-btn {
        margin: 0 auto;
        opacity: 0;
        transition: all 0.3s ease-in 0.2s;
    }

    .ns-lp-bg:hover .more-btn {
        opacity: 1;
    }

    .ns-lp-bg1:hover {
        background: url('../img/ns/ns-lp-bg1-1.jpg') no-repeat;
    }

    .ns-lp-bg2:hover {
        background: url('../img/ns/ns-lp-bg2-1.jpg') no-repeat;
    }

    .ns-lp-bg3:hover {
        background: url('../img/ns/ns-lp-bg3-1.jpg') no-repeat;
    }

    .ns-lp-bg4:hover {
        background: url('../img/ns/ns-lp-bg4-1.jpg') no-repeat;
    }

    .ns-lp-bg5:hover {
        background: url('../img/ns/ns-lp-bg5-1.jpg') no-repeat;
    }

    .ns-lp-bg6:hover {
        background: url('../img/ns/ns-lp-bg6-1.jpg') no-repeat;
    }



    /*========== Characters ==========*/
    .ns-ch-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-ch-bg {
        width: 50%;
        height: 300px;
    }

    .ns-ch-bg1 {
        background: url('../img/ns/ns-ch-bg1.jpg') no-repeat center center;
    }

    .ns-ch-bg2 {
        background: url('../img/ns/ns-ch-bg2.jpg') no-repeat center center;
    }

    .ns-ch-bg3 {
        background: url('../img/ns/ns-ch-bg3.jpg') no-repeat center center;
    }

    .ns-ch-bg4 {
        background: url('../img/ns/ns-ch-bg4.jpg') no-repeat center center;
    }

    .ns-ch-bg5 {
        background: url('../img/ns/ns-ch-bg5.jpg') no-repeat center center;
    }

    .ns-ch-bg6 {
        background: url('../img/ns/ns-ch-bg6.jpg') no-repeat center center;
    }

    .ns-ch-bg h4 {
        text-align: center;
    }

    .ns-ch-bg1 h4,
    .ns-ch-bg3 h4,
    .ns-ch-bg5 h4 {
        width: 150px;
        margin: 100px 0 0 450px;
    }

    .ns-ch-bg2 h4,
    .ns-ch-bg4 h4,
    .ns-ch-bg6 h4 {
        width: 150px;
        margin: 100px 0 0 50px;
    }

    .ns-ch-bg1 .more-btn,
    .ns-ch-bg3 .more-btn,
    .ns-ch-bg5 .more-btn {
        margin: 30px 0 0 450px;
    }

    .ns-ch-bg2 .more-btn,
    .ns-ch-bg4 .more-btn,
    .ns-ch-bg6 .more-btn {
        margin: 30px 0 0 50px;
    }

    /*========== Characters light box ==========*/
    .ns-ch-more-container {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
    }

    .ns-ch-more-wrap {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1000px;
        height: 700px;
        border-radius: 20px;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }

    .ns-ch-more-bg {
        width: 550px;
        height: 700px;
    }

    .ns-ch-more-info {
        width: 450px;
        height: 700px;
        text-align: center;
        background: #fff;
    }

    .ns-ch-more-info > h5 {
        padding-top: 100px;
        font-size: 48px;
        color: #3e446b;
    }

    .ns-ch-more-info p {
        padding-top: 60px;
        color: #222;
    }

    .ns-ch-more-info .close-btn {
        margin: 100px auto;
        color: #f6f6f6;
        background: #3e446b;
    }

    .ns-ch-more-bg1 {
        background: url('../img/ns/ns-ch-more-bg1.jpg') no-repeat;
    }

    .ns-ch-more-bg2 {
        background: url('../img/ns/ns-ch-more-bg2.jpg') no-repeat;
    }

    .ns-ch-more-bg3 {
        background: url('../img/ns/ns-ch-more-bg3.jpg') no-repeat;
    }

    .ns-ch-more-bg4 {
        background: url('../img/ns/ns-ch-more-bg4.jpg') no-repeat;
    }

    .ns-ch-more-bg5 {
        background: url('../img/ns/ns-ch-more-bg5.jpg') no-repeat;
    }

    .ns-ch-more-bg6 {
        background: url('../img/ns/ns-ch-more-bg6.jpg') no-repeat;
    }


    /* shift-슬라이드 */

    .local-amiibo__visualText {
        text-align: center;
        margin: 28px auto 35px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
    }

    .js-slider {
        display: flex;
        position: relative;
        animation: loop var(--speed) linear infinite;
        margin-top: 20px;
        min-height: 300px;
    }

    .js-slider attribute {
        --sliderWidth: 100%;
        --speed: 50s;
        width: 100%;
        height: 100%;
    }



    .ns-scheduler {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
    }

}

@media screen and (min-width:1050px) and (max-width: 1399px) {

    /*========== banner ==========*/
    .bn-ns-bg {
        /* background: url('../img/ns/bn-ns-dt-bg.jpg') no-repeat center center; */
        background-size: cover;
    }

    /*========== Who we are !!! ==========*/
    .ns-wwa-wrap {
        display: flex;
        justify-content: space-between;
    }

    .ns-wwa-bg1 {
        width: 620px;
        height: 400px;
        background: url('../img/ns/ns-wwa-bg1.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }

    .ns-wwa-contents {
        width: 350px;
        height: 400px;
        padding-top: 100px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    .ns-wwa-contents .more-btn {
        margin: 45px auto 0;
    }

    .ns-wwa-bg2 {
        width: 350px;
        height: 400px;
        margin-top: 25px;
        background: url('../img/ns/ns-wwa-bg2.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }

    .ns-wwa-bg3 {
        width: 620px;
        height: 400px;
        margin-top: 25px;
        background: url('../img/ns/ns-wwa-bg3.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }

    .ns-wwa-txt {
        padding-top: 50px;
        text-align: center;
    }



    /*========== Line - up product ==========*/
    .ns-lp-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-lp-bg {
        height: 400px;
        padding-top: 250px;
        transition: all 0.3s ease-in;
    }

    .ns-lp-bg1,
    .ns-lp-bg6 {
        display: none;
    }

    .ns-lp-bg2 {
        width: 550px;
        background: url('../img/ns/ns-lp-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg3 {
        width: 450px;
        background: url('../img/ns/ns-lp-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg4 {
        width: 450px;
        background: url('../img/ns/ns-lp-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg5 {
        width: 550px;
        background: url('../img/ns/ns-lp-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg .more-btn {
        margin: 0 auto;
        opacity: 0;
        transition: all 0.3s ease-in 0.2s;
    }

    .ns-lp-bg:hover .more-btn {
        opacity: 1;
    }

    .ns-lp-bg1:hover {
        background: url('../img/ns/ns-lp-bg1-1.jpg') no-repeat;
    }

    .ns-lp-bg2:hover {
        background: url('../img/ns/ns-lp-bg2-1.jpg') no-repeat;
    }

    .ns-lp-bg3:hover {
        background: url('../img/ns/ns-lp-bg3-1.jpg') no-repeat;
    }

    .ns-lp-bg4:hover {
        background: url('../img/ns/ns-lp-bg4-1.jpg') no-repeat;
    }

    .ns-lp-bg5:hover {
        background: url('../img/ns/ns-lp-bg5-1.jpg') no-repeat;
    }

    .ns-lp-bg6:hover {
        background: url('../img/ns/ns-lp-bg6-1.jpg') no-repeat;
    }



    /*========== Characters ==========*/
    .ns-ch-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-ch-bg {
        width: 50%;
        height: 300px;
    }

    .ns-ch-bg1 {
        background: url('../img/ns/ns-ch-bg1.jpg') no-repeat left center;
    }

    .ns-ch-bg2 {
        background: url('../img/ns/ns-ch-bg2.jpg') no-repeat right center;
    }

    .ns-ch-bg3 {
        background: url('../img/ns/ns-ch-bg3.jpg') no-repeat left center;
    }

    .ns-ch-bg4 {
        background: url('../img/ns/ns-ch-bg4.jpg') no-repeat right center;
    }

    .ns-ch-bg5 {
        background: url('../img/ns/ns-ch-bg5.jpg') no-repeat left center;
    }

    .ns-ch-bg6 {
        background: url('../img/ns/ns-ch-bg6.jpg') no-repeat right center;
    }

    .ns-ch-bg {
        text-align: center;
    }

    .ns-ch-bg1 h4,
    .ns-ch-bg3 h4,
    .ns-ch-bg5 h4 {
        width: 150px;
        margin: 100px 0 0 65%;
    }

    .ns-ch-bg2 h4,
    .ns-ch-bg4 h4,
    .ns-ch-bg6 h4 {
        width: 150px;
        margin: 100px 0 0 5%;
    }

    .ns-ch-bg1 .more-btn,
    .ns-ch-bg3 .more-btn,
    .ns-ch-bg5 .more-btn {
        margin: 30px 0 0 65%;
    }

    .ns-ch-bg2 .more-btn,
    .ns-ch-bg4 .more-btn,
    .ns-ch-bg6 .more-btn {
        margin: 30px 0 0 5%;
    }

    /*========== Characters light box ==========*/
    .ns-ch-more-container {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
    }

    .ns-ch-more-wrap {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 900px;
        height: 650px;
        border-radius: 20px;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }

    .ns-ch-more-bg {
        width: 500px;
        height: 100%;
    }

    .ns-ch-more-info {
        width: 400px;
        height: 100%;
        text-align: center;
        background: #fff;
    }

    .ns-ch-more-info > h5 {
        padding-top: 100px;
        font-size: 42px;
        color: #3e446b;
    }

    .ns-ch-more-info p {
        padding-top: 60px;
        color: #222;
    }

    .ns-ch-more-info .close-btn {
        margin: 70px auto;
        color: #f6f6f6;
        background: #3e446b;
    }

    .ns-ch-more-bg1 {
        background: url('../img/ns/ns-ch-more-bg1.jpg') no-repeat center center;
    }

    .ns-ch-more-bg2 {
        background: url('../img/ns/ns-ch-more-bg2.jpg') no-repeat center center;
    }

    .ns-ch-more-bg3 {
        background: url('../img/ns/ns-ch-more-bg3.jpg') no-repeat center center;
    }

    .ns-ch-more-bg4 {
        background: url('../img/ns/ns-ch-more-bg4.jpg') no-repeat center center;
    }

    .ns-ch-more-bg5 {
        background: url('../img/ns/ns-ch-more-bg5.jpg') no-repeat center center;
    }

    .ns-ch-more-bg6 {
        background: url('../img/ns/ns-ch-more-bg6.jpg') no-repeat center center;
    }

}



@media screen and (min-width:750px) and (max-width:1049px) {

    /*========== banner ==========*/
    .bn-ns-bg {
        /* background: url('../img/ns/bn-ns-tb-bg.jpg') no-repeat center center; */
        background-size: cover;
    }

    /*========== Who we are !!! ==========*/
    .ns-wwa-wrap {
        display: flex;
        justify-content: space-between;
    }

    .ns-wwa-bg1 {
        width: 470px;
        height: 300px;
        background: url('../img/ns/ns-wwa-bg1.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }

    .ns-wwa-contents {
        width: 250px;
        height: 300px;
        padding-top: 40px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    .ns-wwa-contents .more-btn {
        margin: 45px auto 0;
    }

    .ns-wwa-bg2 {
        width: 250px;
        height: 300px;
        margin-top: 15px;
        background: url('../img/ns/ns-wwa-bg2.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }

    .ns-wwa-bg3 {
        width: 470px;
        height: 300px;
        margin-top: 15px;
        background: url('../img/ns/ns-wwa-bg3.png') no-repeat center center;
        background-size: cover;
        border-radius: 20px;
    }

    .ns-wwa-txt {
        width: 500px;
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
    }



    /*========== Line - up product ==========*/
    .ns-lp-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-lp-bg {
        height: 400px;
        padding-top: 250px;
        transition: all 0.3s ease-in;
    }

    .ns-lp-bg1,
    .ns-lp-bg6 {
        display: none;
    }

    .ns-lp-bg2 {
        width: 65%;
        background: url('../img/ns/ns-lp-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg3 {
        width: 35%;
        background: url('../img/ns/ns-lp-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg4 {
        width: 35%;
        background: url('../img/ns/ns-lp-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg5 {
        width: 65%;
        background: url('../img/ns/ns-lp-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg .more-btn {
        margin: 0 auto;
        opacity: 0;
        transition: all 0.3s ease-in 0.2s;
    }

    .ns-lp-bg:hover .more-btn {
        opacity: 1;
    }

    .ns-lp-bg1:hover {
        background: url('../img/ns/ns-lp-bg1-1.jpg') no-repeat;
    }

    .ns-lp-bg2:hover {
        background: url('../img/ns/ns-lp-bg2-1.jpg') no-repeat;
    }

    .ns-lp-bg3:hover {
        background: url('../img/ns/ns-lp-bg3-1.jpg') no-repeat;
    }

    .ns-lp-bg4:hover {
        background: url('../img/ns/ns-lp-bg4-1.jpg') no-repeat;
    }

    .ns-lp-bg5:hover {
        background: url('../img/ns/ns-lp-bg5-1.jpg') no-repeat;
    }

    .ns-lp-bg6:hover {
        background: url('../img/ns/ns-lp-bg6-1.jpg') no-repeat;
    }



    /*========== Characters ==========*/
    .ns-ch-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-ch-bg {
        width: 50%;
        height: 270px;
    }

    .ns-ch-bg1 {
        background: url('../img/ns/ns-ch-bg1.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg2 {
        background: url('../img/ns/ns-ch-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg3 {
        background: url('../img/ns/ns-ch-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg4 {
        background: url('../img/ns/ns-ch-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg5 {
        background: url('../img/ns/ns-ch-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg6 {
        background: url('../img/ns/ns-ch-bg6.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg h4 {
        text-align: center;
    }

    .ns-ch-bg1 h4,
    .ns-ch-bg3 h4,
    .ns-ch-bg5 h4 {
        width: 120px;
        margin: 110px 0 0 64%;
    }

    .ns-ch-bg2 h4,
    .ns-ch-bg4 h4,
    .ns-ch-bg6 h4 {
        width: 120px;
        margin: 110px 0 0 5%;
    }

    .ns-ch-bg1 .more-btn,
    .ns-ch-bg3 .more-btn,
    .ns-ch-bg5 .more-btn {
        margin: 20px 0 0 64%;
    }

    .ns-ch-bg2 .more-btn,
    .ns-ch-bg4 .more-btn,
    .ns-ch-bg6 .more-btn {
        margin: 20px 0 0 5%;
    }

    /*========== Characters light box ==========*/
    .ns-ch-more-container {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
    }

    .ns-ch-more-wrap {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 700px;
        height: 600px;
        border-radius: 20px;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }

    .ns-ch-more-bg {
        width: 350px;
        height: 100%;
    }

    .ns-ch-more-info {
        width: 350px;
        height: 100%;
        text-align: center;
        background: #fff;
    }

    .ns-ch-more-info > h5 {
        padding-top: 100px;
        font-size: 42px;
        color: #3e446b;
    }

    .ns-ch-more-info p {
        padding-top: 50px;
        color: #222;
    }

    .ns-ch-more-info .close-btn {
        margin: 70px auto;
        color: #f6f6f6;
        background: #3e446b;
    }

    .ns-ch-more-bg1 {
        background: url('../img/ns/ns-ch-more-bg1.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg2 {
        background: url('../img/ns/ns-ch-more-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg3 {
        background: url('../img/ns/ns-ch-more-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg4 {
        background: url('../img/ns/ns-ch-more-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg5 {
        background: url('../img/ns/ns-ch-more-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg6 {
        background: url('../img/ns/ns-ch-more-bg6.jpg') no-repeat center center;
        background-size: cover;
    }

}



@media screen and (max-width:749px) {

    /*========== banner ==========*/
    .bn-ns-bg {
        /* background: url('../img/ns/bn-ns-sm-bg.jpg') no-repeat center center; */
        background-size: cover;
    }

    h2 {
        width: 270px;
        margin: 0 auto;
    }

    /*@@@@@@@@@@@@@@@@@@    bg 에서 h2 가 어디에 적용된것이 내용파악하기*/

    /*========== Who we are !!! ==========*/
    .ns-wwa-bg1 {
        height: 300px;
        background: url('../img/ns/ns-wwa-bg1.png') no-repeat center center;
        background-size: cover;
        border-radius: 10px;
    }

    .ns-wwa-contents {
        height: 270px;
        margin-top: 15px;
        padding-top: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .ns-wwa-contents .more-btn {
        margin: 35px auto 0;
    }

    .ns-wwa-bg2 {
        display: none;
    }

    .ns-wwa-bg3 {
        height: 300px;
        margin-top: 15px;
        background: url('../img/ns/ns-wwa-bg3.png') no-repeat center center;
        background-size: cover;
        border-radius: 10px;
    }

    .ns-wwa-txt {
        width: 300px;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
    }



    /*========== Line - up product ==========*/
    .ns-lp-bg {
        height: 200px;
        padding-top: 100px;
        transition: all 0.3s ease-in;
    }

    .ns-lp-bg1,
    .ns-lp-bg6 {
        display: none;
    }

    .ns-lp-bg2 {
        background: url('../img/ns/ns-lp-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg3 {
        background: url('../img/ns/ns-lp-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg4 {
        background: url('../img/ns/ns-lp-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg5 {
        background: url('../img/ns/ns-lp-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-lp-bg .more-btn {
        margin: 0 auto;
        opacity: 0;
        transition: all 0.3s ease-in 0.2s;
    }

    .ns-lp-bg:hover .more-btn {
        opacity: 1;
    }

    .ns-lp-bg1:hover {
        background: url('../img/ns/ns-lp-bg1-1.jpg') no-repeat;
    }

    .ns-lp-bg2:hover {
        background: url('../img/ns/ns-lp-bg2-1.jpg') no-repeat;
    }

    .ns-lp-bg3:hover {
        background: url('../img/ns/ns-lp-bg3-1.jpg') no-repeat;
    }

    .ns-lp-bg4:hover {
        background: url('../img/ns/ns-lp-bg4-1.jpg') no-repeat;
    }

    .ns-lp-bg5:hover {
        background: url('../img/ns/ns-lp-bg5-1.jpg') no-repeat;
    }

    .ns-lp-bg6:hover {
        background: url('../img/ns/ns-lp-bg6-1.jpg') no-repeat;
    }



    /*========== Characters ==========*/
    .ns-ch-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .ns-ch-bg {
        width: 100%;
        height: 180px;
    }

    .ns-ch-bg1 {
        background: url('../img/ns/ns-ch-bg1.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg2 {
        background: url('../img/ns/ns-ch-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg3 {
        background: url('../img/ns/ns-ch-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg4 {
        background: url('../img/ns/ns-ch-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg5 {
        background: url('../img/ns/ns-ch-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg6 {
        background: url('../img/ns/ns-ch-bg6.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-bg h4 {
        text-align: center;
    }

    .ns-ch-bg1 h4,
    .ns-ch-bg3 h4,
    .ns-ch-bg5 h4 {
        width: 100px;
        margin: 50px 0 0 60%;
    }

    .ns-ch-bg2 h4,
    .ns-ch-bg4 h4,
    .ns-ch-bg6 h4 {
        width: 100px;
        margin: 50px 0 0 10%;
    }

    .ns-ch-bg1 .more-btn,
    .ns-ch-bg3 .more-btn,
    .ns-ch-bg5 .more-btn {
        margin: 10px 0 0 60%;
    }

    .ns-ch-bg2 .more-btn,
    .ns-ch-bg4 .more-btn,
    .ns-ch-bg6 .more-btn {
        margin: 10px 0 0 10%;
    }

    /*========== Characters light box ==========*/
    .ns-ch-more-container {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
    }

    .ns-ch-more-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 365px;
        height: 600px;
        border-radius: 20px;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }

    .ns-ch-more-bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .ns-ch-more-dark {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .ns-ch-more-info {
        position: absolute;
        width: 100%;
        height: 100%;
        color: #f6f6f6;
        text-align: center;
    }

    .ns-ch-more-info > h5 {
        padding-top: 100px;
        font-size: 32px;
    }

    .ns-ch-more-info p {
        padding-top: 50px;
    }

    .ns-ch-more-info .close-btn {
        margin: 70px auto;
    }

    .ns-ch-more-bg1 {
        background: url('../img/ns/ns-ch-more-bg1.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg2 {
        background: url('../img/ns/ns-ch-more-bg2.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg3 {
        background: url('../img/ns/ns-ch-more-bg3.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg4 {
        background: url('../img/ns/ns-ch-more-bg4.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg5 {
        background: url('../img/ns/ns-ch-more-bg5.jpg') no-repeat center center;
        background-size: cover;
    }

    .ns-ch-more-bg6 {
        background: url('../img/ns/ns-ch-more-bg6.jpg') no-repeat center center;
        background-size: cover;
    }

}