@charset "utf-8";

/* 로고 서체  Shrikhand*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
/*font-family: "Tektur", sans-serif;*/

/* nav bar, 서브 타이틀 */
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 새로운 본문제목 서체? */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 새로운 본문내용 서체 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 강조색 */
/* hg: highlight, ygrn: yellogreen */
.hg-blue {color:#6389ff;}
.hg-ygrn {color:#caca64;}

* { margin:0; padding:0; box-sizing:border-box; }
body { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; font-size: 16px; color: #f1f1e6; background: #141e41; }

/* 메인타이틀이랑 서브타이틀 내 사용된 영어 다 대문자로 쓰기 위해서 title이라는 이름을 하나 더 공통적으로 줬습니다.  
main-title title
sub-title title
위와 같이 title 이름만 추가해주세요-한별
*/
h1, h2, h3, h4, h5, h6, .title p, a { text-transform:uppercase; }
/* h1 {font-family: "Shrikhand", serif;
  font-weight: 400;} */
h2 { font-family: "Tektur", sans-serif; color: #f9f9f9; }
h4 { font-family: "Gowun Dodum", sans-serif; font-size:34px; font-weight:400; line-height:42px; } /* 본문 제목 */
h5 { font-family: 'JalnanGothic'; font-weight: 400;} /* 팝업 제목 등 더 작은? 제목용 */
h6 { font-family: "Tektur", sans-serif; font-weight:600;} /*드랍다운 메뉴에 사용되는 h6 입니다.*/
#main-menu > li, h3 { font-family: 'JalnanGothic'; }
ul { list-style:none; }
a, img { border: 0; outline: 0; }
a { display:block; color:#f6f6f6; text-decoration:none; }
/* span { display: block; } */


@media screen and (min-width:1050px) {
    body { font-size:16px; }
    p { line-height: 24px; }
}

@media screen and (max-width:1049px) {
    body { font-size:15px; }
}