@charset "utf-8";


.st-bn-bg { background:url('../assets/steamdeck/st-bn-bg.jpg') no-repeat; background-size:cover; }


.st-adv-container { display:flex; justify-content:space-between; }
.st-adv-wrap { width:400px; background:#1f2235; }
.st-adv-bg { height:450px; }
.adv-bg1 { background:url(../assets/steamdeck/adv-bg1.jpg) no-repeat center center; background-size:cover; }
.adv-bg2 { background:url(../assets/steamdeck/adv-bg2.jpg) no-repeat center center; background-size:cover; }
.adv-bg3 { background:url(../assets/steamdeck/adv-bg3.jpg) no-repeat center center; background-size:cover; }
h4 { padding-top:50px; font-size:34px; text-align:center; }
.st-adv-btn { margin:255px auto 0; }
.st-adv-contents { padding:40px 50px; text-align:center; }
.st-adv-bar {
    width:200px; height:1px;
    background:url(../assets/steamdeck/adv-bar.jpg) no-repeat center center; background-size:cover;
    margin:0 auto 40px;
 }



