@charset "utf-8";

section h3 span { display: inline; }

.vr-why-video video { width: 100%; }

.vr-img-vrchat, .vr-img-beat { background-size: cover; }

.vr-carousel-wrap { position: relative; width: 100%; overflow: hidden; cursor: grab; }
.vr-carousel-track {
    display: flex; position: absolute; top: 0; gap: 50px;
    /* 글자 드래그 막기 */
    -webkit-user-select:none; user-select:none;
}

@media screen and (min-width:1400px) {
	
    .vr-why-wrap { display: flex; justify-content:space-between; align-items: center; }
    .vr-why-video { width: 900px; height:500px; border-radius:15px; overflow:hidden; }
    .vr-why-contents { width:395px; height:500px; padding:85px 0 0 50px; }
    .vr-why-contents h4 + p { margin-top: 40px; }
    .vr-why-contents .more-btn { margin-top:40px; }
	.vr-why-bar { width:5px; height:300px; background:#fc0; }

    .vr-vrchat-wrap, .vr-beat-wrap { display:flex; justify-content:space-between; align-items: center; }
    .vr-beat-wrap { flex-direction: row-reverse; margin-top: 50px; }
    .vr-vrchat-bg, .vr-beat-bg { width:700px; height: 250px; border-radius:15px; overflow:hidden; }
	.vr-vrchat-bg { background: url(../img/vr/vr-img-vrchat-fhd.jpg) no-repeat center center; }
    .vr-beat-bg { background: url(../img/vr/vr-img-beat-fhd.jpg) no-repeat center center; }
	
    .vr-vrchat-contents, .vr-beat-contents { width:550px; text-align: center; }
    .vr-vrchat-contents p, .vr-beat-contents p { width: 370px; margin:40px auto; }
    .vr-img-long_bar { width: 240px; height: 2px; margin: 50px auto 0; background: url(../img/vr/vr-img-long_bar-fhd.jpg) no-repeat center center;  background-size: cover;}
    .vr-etc { display: flex; align-items: center; width: 1050px; height: 80px; background: #737892; margin:50px auto 0; border-radius: 10px; text-align: center; }

    .vr-carousel-wrap { height: 600px; }
    .vr-carousel-track article { width: 1000px; text-align: center;}
    .vr-carousel-track div { width: 100%; height: 300px; margin: 50px auto 0; border-radius: 10px; }
    .vr-img-glasses{ background: url(../img/vr/vr-img-glasses-fhd.jpg); }
    .vr-img-hardware{ background: url(../img/vr/vr-img-hardware-fhd.jpg); }
    .vr-img-games{ background: url(../img/vr/vr-img-games-fhd.jpg); }
    .vr-carousel-wrap h4 { margin-top: 50px; }
    .vr-carousel-wrap p:first-of-type { margin-top: 40px; }
    
}
@media screen and (min-width:1050px) and (max-width:1399px) {
    .vr-why { display: flex; align-items: center; }
    .vr-why-video { width: 900px; height: 500px; }
    .vr-why-script { width: 372px; margin-left: 40px; line-height: 30px; } /* line-height 왜넣었지? */
    .vr-why-script h4+p { margin-top: 40px; }
    .vr-why-script span { display: block; }
    .vr-why-script .more-btn { margin-top: 20px; }

    .vr-vrchat, .vr-beat { display: flex; align-items: center; }
    .vr-beat { flex-direction: row-reverse; }
    .vr-img-vrchat, .vr-img-beat { width: 550px; height: 250px; border-radius: 10px; }
    .vr-vrchat-script, .vr-beat-script { width: 450px; text-align: center; }
    .vr-vrchat-script p:first-of-type, .vr-beat-script p:first-of-type { margin-top: 30px; }
    .vr-img-vrchat { background: url(../img/vr/vr-img-vrchat-fhd.jpg) no-repeat center center; }
    .vr-img-beat { background: url(../img/vr/vr-img-beat-fhd.jpg) no-repeat center center; }
    .vr-beat { margin-top: 50px; }
    .vr-beat-script p { width: 300px; margin: 0 auto; }
    .vr-img-long_bar { width: 240px; height: 2px; margin: 50px auto 0; background: url(../img/vr/vr-img-long_bar-fhd.jpg) no-repeat center center;  background-size: cover;}
    .vr-etc { display: flex; align-items: center; width: 1000px; height: 80px; background: #737892; margin:50px auto 0; border-radius: 10px; text-align: center; }

    .vr-carousel-wrap { height: 600px; }
    .vr-carousel-track article { width: 1000px; text-align: center;}
    .vr-carousel-track div { width: 100%; height: 300px; margin: 50px auto 0; border-radius: 10px; }
    .vr-img-glasses{ background: url(../img/vr/vr-img-glasses-fhd.jpg); }
    .vr-img-hardware{ background: url(../img/vr/vr-img-hardware-fhd.jpg); }
    .vr-img-games{ background: url(../img/vr/vr-img-games-fhd.jpg); }
    .vr-carousel-wrap h4 { margin-top: 50px; }
    .vr-carousel-wrap p:first-of-type { margin-top: 40px; }
}
@media screen and (min-width:750px) and (max-width:1049px){
    .line-break { display: block; }

    .vr-why-video { width: 750px; height: 415px; }
    .vr-why-script { margin-top: 35px; text-align: center; }
    .vr-why-script h4 { display: inline; }
    .vr-why-script h4+p { margin-top: 20px; }
    .vr-why-script .more-btn { margin: 20px auto 0; }

    .vr-games { display: flex; justify-content: space-between; text-align: center; }
    .vr-img-vrchat, .vr-img-beat { width: 350px; height: 400px; border-radius: 10px; }
    .vr-vrchat-script, .vr-beat-script { margin-top: 30px; }
    .vr-vrchat-script p, .vr-beat-script p { margin: 0 auto; }
    .vr-vrchat-script p:first-of-type, .vr-beat-script p:first-of-type { margin-top: 30px; }
    .vr-img-vrchat { background: url(../img/vr/vr-img-vrchat-mob.jpg) no-repeat center center; }
    .vr-vrchat-script p { width: 350px; }
    .vr-img-beat { background: url(../img/vr/vr-img-beat-mob.jpg) no-repeat center center; }
    .vr-beat-script p { width: 280px; text-align: center; }
    .vr-etc { display: none; }

    .vr-carousel-wrap { height: 850px; }
    .vr-carousel-track article { width: 320px; text-align: center;}
    .vr-carousel-track div { width: 100%; height: 400px; margin: 50px auto 0; border-radius: 10px; }
    .vr-img-glasses{ background: url(../img/vr/vr-img-glasses-mob.jpg); }
    .vr-img-hardware{ background: url(../img/vr/vr-img-hardware-mob.jpg); }
    .vr-img-games{ background: url(../img/vr/vr-img-games-mob.jpg); }
    .vr-carousel-wrap h4 { font-size: 20px; margin-top: 50px; }
    .vr-carousel-wrap p:first-of-type { margin-top: 40px; }
    .vr-carousel-wrap p span { display: block; }
    .vr-carousel-wrap p:last-of-type { display: none; }
    .vr-carousel-wrap .more-btn { display: block; margin: 20px auto 0; }
}
@media screen and (max-width:749px) {
    main { text-align: center; }
    h2 { width: 380px; }
    h4 { display: inline-block; margin-top: 20px; line-height: 24px; }

    .vr-why { width: 350px; }
    .vr-why-video { height: 300px; }
    .vr-why-script { height: 250px; background: rgba(13, 18, 48, 0.92); border-radius: 10px; }
    .vr-why-script span { display: block; }
    .vr-why-script h4+p { margin-top: 15px; }
    .vr-why-script .more-btn { margin: 15px auto 0; }

    .titles-must { width: 190px; margin: auto; }
    .vr-games { display: block; width: 350px; } /* 이게 왜 block으로 줄바꿈이 되는 것인지 모르겠음 */
    
    .vr-img-vrchat, .vr-img-beat {  height: 400px; border-radius: 10px; }
    .vr-vrchat-script, .vr-beat-script { height: 150px; background: rgba(13, 18, 48, 0.92); border-radius: 10px; }
    .vr-vrchat-script p:first-of-type, .vr-beat-script p:first-of-type { margin-top: 15px; }
    .vr-img-vrchat { background: url(../img/vr/vr-img-vrchat-mob.jpg) no-repeat center center; }
    .vr-img-beat { background: url(../img/vr/vr-img-beat-mob.jpg) no-repeat center center; }
    .vr-beat { margin-top: 50px; }
    .vr-etc { display: none; }

    .vr-carousel-wrap { height: 750px; }
    .vr-img-glasses{ background: url(../img/vr/vr-img-glasses-mob.jpg); }
    .vr-img-hardware{ background: url(../img/vr/vr-img-hardware-mob.jpg); }
    .vr-img-games{ background: url(../img/vr/vr-img-games-mob.jpg); }
    .vr-carousel-track article { width: 320px; }
    .vr-carousel-track div:first-child{ width: 100%; height: 400px; margin: 50px auto 0; border-radius: 10px; }
    .vr-carousel-track div:nth-child(2) { height: 200px; background: rgba(13, 18, 48, 0.92); border-radius: 10px; }
    .vr-carousel-wrap h4 { font-size: 20px; margin-top: 25px; }
     .vr-carousel-wrap p:first-of-type { margin-top: 20px; }
    .vr-carousel-wrap p span { display: block; }
    .vr-carousel-wrap p:last-of-type { display: none; }
    .vr-carousel-wrap .more-btn { display: block; margin: 20px auto 0; }
}