.new-inquiry { width: 100px; margin: 0 auto; font-size: 25px; }


.user-banner { margin: 0 auto 100px; width: 300px; text-align: center;}

main { margin: 0 auto; }


@media (min-width: 1400px) { main { width: 1400px; } }
@media (min-width: 1050px) and (max-width: 1399px) { main { width: 1050px; } }
@media (min-width: 750px) and (max-width: 1049px) { main { width: 750px; } }
@media (max-width: 749px) { main { width: 100%; } }

.title-wrap {
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; margin: 0 auto 20px; }
.title-wrap input[name="title"] {
    width: 70%; padding: 10px; font-size: 18px;
    border: 1px solid #ccc; border-radius: 5px; }
.title-wrap .author { color: #eee; font-size: 20px; }