@charset "utf-8";

.banner {position:relative; overflow:hidden;}

h5 {font-size:24px; text-transform:uppercase;}

.xb-ygrn-bar {
    width:100px; height:10px;
    background:#d3d369;
    border-radius:4px 0 4px 0;
    transform:skew(-30deg);
}
.xb-rent-bg {
    width:300px; height:400px; margin:0 auto;
    border-radius:30px; transition:all 0.4s ease-out;
}
.xb-rent-bg h5 { padding-top:180px; text-align:center; }
.xb-rent-btn { margin:90px auto 0;}

/* DTD 박스 */
.xb-rent-bg1 { background:url(/resources/img/xbox/imgs/dt/xb-rent-dtd-1.jpg) no-repeat; }
.xb-rent-bg2 {background:url(/resources/img/xbox/imgs/dt/xb-rent-dtd-2.jpg) no-repeat; }
.xb-rent-bg3 {
    background:url(/resources/img/xbox/imgs/dt/xb-rent-dtd-3.jpg) no-repeat;
    border-radius:30px 30px 100px 30px;
}
.xb-rent-bg1:hover {
    color:#6389ff; background:url(/resources/img/xbox/imgs/dt/xb-rent-dtd-1.jpg) no-repeat;
    box-shadow:500px 500px 3px rgba(255,255,255,0.6) inset;
    transform:scale(104%);
}
.xb-rent-bg2:hover {
    color:#6389ff; background:url(/resources/img/xbox/imgs/dt/xb-rent-dtd-2.jpg) no-repeat;
    box-shadow:500px 500px 3px rgba(255,255,255,0.6) inset;
    transform:scale(104%);
}
.xb-rent-bg3:hover {
    color:#6389ff; background:url(/resources/img/xbox/imgs/dt/xb-rent-dtd-3.jpg) no-repeat;
    box-shadow:500px 500px 3px rgba(255,255,255,0.6) inset;
    transform:scale(104%);
}


/* DELI 박스 */
.xb-rent-bg4 {background:url(/resources/img/xbox/imgs/dt/xb-rent-deli-1.jpg) no-repeat; border-radius:100px 30px 30px 30px;}
.xb-rent-bg5 {background:url(/resources/img/xbox/imgs/dt/xb-rent-deli-2.jpg) no-repeat;}
.xb-rent-bg6 {background:url(/resources/img/xbox/imgs/dt/xb-rent-deli-3.jpg) no-repeat;}
.xb-rent-bg4:hover {
    color:#6389ff; background:url(/resources/img/xbox/imgs/dt/xb-rent-deli-1.jpg) no-repeat;
    box-shadow:500px 500px 3px rgba(255,255,255,0.6) inset;transform:scale(104%);
}
.xb-rent-bg5:hover {
    color:#6389ff; background:url(/resources/img/xbox/imgs/dt/xb-rent-deli-2.jpg) no-repeat;
    box-shadow:500px 500px 3px rgba(255,255,255,0.6) inset;
    transform:scale(104%);
}
.xb-rent-bg6:hover {
    color:#6389ff; background:url(/resources/img/xbox/imgs/dt/xb-rent-deli-3.jpg) no-repeat;
    box-shadow:500px 500px 3px rgba(255,255,255,0.6) inset;
    transform:scale(104%);
}

footer {margin-top:0;}

@media screen and (min-width:1400px) {
/* ===== 서브 1 시리즈 x ===== */
.xb-con-container { position:relative; width:100%; height:500px;}

.xb-cs-bg1{
    position:absolute; left:0; top:0;
    width:60%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-dt-bg1.jpg) no-repeat right center;
    border-radius:0 0 100px 0;
}
.xb-cs-back-b {
    position:absolute; left:64%; top:0;
    width:410px; height:425px;
    border-radius:30px;
    background:#6389ff;
}
.xb-cs-front-b {
    position:absolute; left:62.6%; top:5%;
    width:410px; height:425px;
    text-align:center;
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b h4 {
    position:absolute; left:32%; top:9%; width:150px; 
}
.xb-con-ygrn-bar1 {position:absolute; left:38%; top:36%;}
.xb-cs-front-b h5 {
    position:absolute; left:0; top:48%;
    width:100%; text-transform:capitalize;
}
.xb-cs-front-b a {position:absolute; left:32%; top:68%;}

.xb-cs-front-b p {
    position:absolute; left:0; top:85%;
    width:100%; font-size:12px;
}


/* ===== 서브1 시리즈s ===== */
.xb-con-container2 {position:relative; width:100%; height:500px; margin-top:50px;}

.xb-cs-bg2{
    position:absolute; right:0;
    width:60%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-dt-bg2.jpg) no-repeat left center;
    border-radius:100px 0 0 0;
}
.xb-cs-back-b2 {
    position:absolute; right:64%; top:75px;
    width:410px; height:425px;
    border-radius:30px;
    background:#d3d369;
}
.xb-cs-front-b2 {
    position:absolute; right:62.6%; top:50px;
    width:410px; height:425px;
    text-align:center;
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b2 h4 {
    position:absolute; right:32%; top:9%; width:150px; 
}
.xb-cs-front-b2 h5 {
    position:absolute; right:0; top:48%; width:100%; text-transform:capitalize;
}
.xb-con-ygrn-bar2 {position:absolute; right:38%; top:36%;}
.xb-cs-front-b2 a {position:absolute; left:32%; top:68%;}

.xb-cs-front-b2 p {
    position:absolute; right:0; top:85%;
    width:100%; font-size:12px;
}


/* ====== 서브2 ===== */
.xb-acc-container {position:relative;}
.xb-acc-slide {display:flex; justify-content:center; flex-wrap:wrap; overflow:hidden; height:300px;}

.xb-acc-slide li {
    display:flex; justify-content:center; align-items:center;
    width:400px; height:300px; margin:0 25px; padding:0 100px;
    font-size:34px; text-align:center; line-height:36px;
    border-radius:30px;
}
.xb-acc-slide li:first-child {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-controllers.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(2) {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-consolewraps.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(3){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-chager.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(4){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-headsets.jpg) no-repeat;
}
.xb-acc-slide li:last-child{
    background:url(/resources/img/xbox/imgs/dt/xb-acc-storage.jpg) no-repeat;
}


/* ===== 서브3 DTD 박스===== */
.xb-rent-container {
    display:flex; justify-content:flex-end; text-align:center;
    width:85%; padding:50px 25px;
    background:rgba(99, 137, 255, 0.5);
    border-radius:0 0 100px 0;
}
.xb-rent-wrap {display:flex; justify-content:flex-end;}
.xb-rent-wrap-specipic {display:flex; justify-content:flex-end; position:relative; padding-right:186px;}
.xb-arti-wrap-specipic{position:absolute; right:0;}

.xb-rent-arti h4 {flex-wrap:wrap; width:186px; margin:25px auto 0; line-height:36px;
}
.xb-rent-arti h5 {margin:25px auto;}
.xb-rent-ygrn-bar1, .xb-rent-ygrn-bar2 {margin:0 auto 25px;}
.xb-rent-bg {margin:0 25px;}


/* ===== 서브 3 DELI 박스 =====*/
.xb-rent-container2{
    display:flex; justify-content:flex-start; text-align:center;
    width:85%; margin-left:15%; padding:50px 25px 150px 50px;
    background:rgba(211, 211, 105, 0.5);
    border-radius:100px 0 0 0;
}
.xb-deli-art1 h4 {margin:50px auto 0;}
.xb-dtd-art2 p:nth-child(4), .xb-deli-art2 p:nth-child(4) {margin-top:30px;}

/* ===== 서브 4 =====*/
.xb-loca-container {position:relative; height:340px; margin:100px auto 50px;
}
.xb-loca-bg {
    position:relative;
    width:340px; height:340px; margin:0 auto;
    border:3px solid #d3d369;
    border-radius:50%;
}
.xb-loca-sm-ellip {
    position:absolute;
    width:45px; height:45px;
    background:#6389ff;
    box-shadow:50px 50px 0 0 rgba(0,0,0,0.3) inset;
    border-radius:50%;
}
.xb-loca-sm-ellip a {display:none;}
.xb-loca-sm1 {left:3.23%; top:13.2%;}
.xb-loca-sm2 {left:90%; top:23%;}
.xb-loca-sm3 {left:43%; top:93%;}

.xb-loca-container h3, .xb-loca-container p {
    position:absolute; top:145px; width:100%; line-height:100%;}
.xb-loca-container p {margin-top:60px;}

.xb-loca-sm-ellip:hover {
    width:150px; height:45px; border-radius:30px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.xb-loca-sm-ellip:hover a {
    display:block; text-align:center; line-height:45px;
    font-size:18px; font-weight:600;
    color:#d3d369;
}
.xb-loca-sm1:hover {left:-13%;}
.xb-loca-sm2:hover {left:76%;}
.xb-loca-sm3:hover {left:27%;}
}





@media screen and (min-width:1050px) and (max-width:1399px) {
h5 {font-size:24px; text-transform:uppercase;}

.xb-con-container { position:relative; width:100%; height:500px;}

.xb-cs-bg1{
    position:absolute; left:0; top:0;
    width:56%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-tb-bg1.jpg) no-repeat right center;
    border-radius:0 0 100px 0;
}
.xb-cs-back-b {
    position:absolute; left:62%; top:0%;
    width:380px; height:400px;  border-radius:30px;
    background:#6389ff;
}
.xb-cs-front-b {
    position:absolute; left:60%; top:4%;
    width:380px; height:400px;
    text-align:center; /*line-height:98%;*/
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b h4 {
    position:absolute; left:32%; top:9%; width:150px; 
}
.xb-con-ygrn-bar1 {position:absolute; left:38%; top:36%;}
.xb-cs-front-b h5 {
    position:absolute; left:0; top:48%; width:100%;
    text-transform:capitalize;
}
.xb-cs-front-b a {position:absolute; left:31.5%; top:68%;}

.xb-cs-front-b p {
    position:absolute; left:0; top:85%;
    width:100%; font-size:11px;
}


/* ===== 서브1 시리즈s ===== */
.xb-con-container2 {position:relative; width:100%; height:500px; margin-top:40px;}

.xb-cs-bg2{
    position:absolute; right:0;
    width:56%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-dt-bg2.jpg) no-repeat left center;
    border-radius:100px 0 0 0;
}
.xb-cs-back-b2 {
    position:absolute; right:62%; top:18%;
    width:390px; height:410px;
    border-radius:30px;
    background:#d3d369;
}
.xb-cs-front-b2 {
    position:absolute; right:60%; top:14%;
    width:390px; height:410px;
    text-align:center;
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b2 h4 {
    position:absolute; right:30%; top:9%; width:150px;
}
.xb-con-ygrn-bar2 {position:absolute; left:38%; top:36%;}
.xb-cs-front-b2 h5 {
    position:absolute; right:0; top:48%; width:100%; text-transform:capitalize;
}
.xb-cs-front-b2 a {position:absolute; left:32%; top:68%;}

.xb-cs-front-b2 p {
    position:absolute; right:0; top:85%; width:100%; font-size:11px;
}


/* ====== 서브2 ===== */
.xb-acc-container {position:relative;}
.xb-acc-slide {display:flex; justify-content:center; flex-wrap:wrap; overflow:hidden; height:300px;}

.xb-acc-slide li {
    display:flex; justify-content:center; align-items:center;
    width:400px; height:300px; margin:0 25px; padding:0 100px;
    font-size:32px; text-align:center; line-height:34px;
    border-radius:30px;
}
.xb-acc-slide li:first-child {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-controllers.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(2) {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-consolewraps.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(3){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-chager.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(4){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-headsets.jpg) no-repeat;
}
.xb-acc-slide li:last-child{
    background:url(/resources/img/xbox/imgs/dt/xb-acc-storage.jpg) no-repeat;
}

/* ===== 서브3 DTD 박스===== */
.xb-rent-container, .xb-rent-container2{
    display:flex; flex-wrap:wrap; justify-content:center; text-align:center; padding:40px 20px; background:rgba(99, 137, 255, 0.5);
    border-radius:0 0 100px 0;
}
.xb-rent-wrap {display:flex; flex-wrap:wrap;}
.xb-rent-arti-wrap {width:100%; padding:0 120px 40px;}
.xb-rent-arti {display:flex; flex-wrap:wrap; width:100%; line-height:0;
}
.xb-dtd-art1 {width:38.8%;}
.xb-rent-arti h5 {font-size:20px; margin:27px 10px;}
.xb-rent-ygrn-bar1{width:190px; margin-left:50px;}

.xb-dtd-art2 {display:flex; padding-top:20px;}
.xb-dtd-art2 p:first-child {width:75px;}
.xb-dtd-art2 p:nth-child(2) {width:120px;}
.xb-dtd-art2 p:nth-child(3) {width:145px; } 
.xb-dtd-art2 p:nth-child(4) {width:60px;}
.xb-dtd-art2 p:last-child {width:140px;}


/* ===== 서브 3 DELI 박스 =====*/
.xb-rent-container2{
    background:rgba(211, 211, 105, 0.5);
    border-radius:100px 0 0 0;
}
.xb-deli-art1 {width:38%;}
.xb-rent-ygrn-bar2 {width:185px; margin-left:42px;}

.xb-deli-art2 {display:flex; padding-top:20px;}
.xb-deli-art2 p:first-child {width:75px;}
.xb-deli-art2 p:nth-child(2) {width:70px;}
.xb-deli-art2 p:nth-child(3) {width:95px;}
.xb-deli-art2 p:nth-child(4) {width:60px;}
.xb-deli-art2 p:last-child {width:150px;}

.xb-rent-bg6 {margin-bottom:100px;}

/* ===== 서브 4 =====*/
.xb-loca-container {position:relative; width:1000px; height:340px; margin:80px auto 40px;
}
.xb-loca-bg {
    position:relative;
    width:340px; height:340px; margin:0 auto;
    border:3px solid #d3d369;
    border-radius:50%;
}
.xb-loca-sm-ellip {
    position:absolute;
    width:45px; height:45px;
    background:#6389ff;
    box-shadow:50px 50px 0 0 rgba(0,0,0,0.3) inset;
    border-radius:50%;
}
.xb-loca-sm-ellip a {display:none;}
.xb-loca-sm1 {left:3.23%; top:13.2%;}
.xb-loca-sm2 {left:90%; top:23%;}
.xb-loca-sm3 {left:43%; top:93%;}

.xb-loca-container h3, .xb-loca-container p {
    position:absolute; top:150px; width:100%;}
.xb-loca-container p {margin-top:60px;}

.xb-loca-sm-ellip:hover {
    width:150px; height:45px; border-radius:30px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.xb-loca-sm-ellip:hover a {
    display:block; text-align:center; line-height:45px;
    font-size:18px; font-weight:600;
    color:#d3d369;
}
.xb-loca-sm1:hover {left:-13%;}
.xb-loca-sm2:hover {left:76%;}
.xb-loca-sm3:hover {left:27%;}
}





@media screen and (min-width:750px) and (max-width:1049px) {
h2 {flex-wrap:wrap; width:380px; margin:0 auto;
    line-height:100%; text-align:center;}
h5 {font-size:16px; text-transform:uppercase;}

.xb-con-container { position:relative; width:100%; height:495px;}

.xb-cs-bg1{
    position:absolute;
    width:100%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-tb-bg1.jpg) no-repeat right center;
    border-radius:0 0 100px 0;
}
.xb-cs-back-b {
    position:absolute; left:45%; top:35px;
    width:370px; height:390px;
    border-radius:30px;
    background:#6389ff;
}
.xb-cs-front-b {
    position:absolute; left:42%; top:55px;
    width:370px; height:390px;
    text-align:center; 
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b h4 {
    position:absolute; left:30%; top:9%; width:146px; line-height:34px;
}
.xb-con-ygrn-bar1, .xb-con-ygrn-bar2 {
    position:absolute; left:37%; top:36%;
}
.xb-cs-front-b h5 {
    position:absolute; left:0; top:49%; width:100%; text-transform:capitalize;
}
.xb-cs-front-b a, .xb-cs-front-b2 a {position:absolute; left:34%; top:70%;}

.xb-cs-front-b p {
    position:absolute; left:0; top:87.2%; width:100%; font-size:10px;
}


/* ===== 서브1 시리즈s ===== */
.xb-con-container2 {position:relative; width:100%; height:495px; margin-top:25px;}

.xb-cs-bg2{
    position:absolute; right:0;
    width:100%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-dt-bg2.jpg) no-repeat left center;
    border-radius:100px 0 0 0;
}
.xb-cs-back-b2 {
    position:absolute; right:45%; top:55px;
    width:370px; height:390px;
    border-radius:30px;
    background:#d3d369;
}
.xb-cs-front-b2 {
    position:absolute; right:42%; top:35px;
    width:370px; height:390px;
    text-align:center;
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b2 h4 {
    position:absolute; left:31%; top:9%; width:146px;
    line-height:34px;
}
.xb-cs-front-b2 h5 {
    position:absolute; right:0; top:49%; width:100%; text-transform:capitalize;
}
.xb-cs-front-b2 p {
    position:absolute; right:0; top:87.2%; width:100%; font-size:10px;
}


/* ====== 서브2 ===== */
.xb-acc-container {position:relative;}
.xb-acc-slide {display:flex; justify-content:center; flex-wrap:wrap; overflow:hidden; height:300px;}

.xb-acc-slide li {
    display:flex; justify-content:center; align-items:center;
    width:400px; height:300px; margin:0 17.5px; padding:0 100px;
    font-size:28px; text-align:center; line-height:30px;
    border-radius:30px;
}
.xb-acc-slide li:first-child {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-controllers.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(2) {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-consolewraps.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(3){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-chager.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(4){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-headsets.jpg) no-repeat;
}
.xb-acc-slide li:last-child{
    background:url(/resources/img/xbox/imgs/dt/xb-acc-storage.jpg) no-repeat;
}

/* ===== 서브3 DTD 박스===== */
.xb-rent-container, .xb-rent-container2{
    display:flex; flex-wrap:wrap; justify-content:center; text-align:center; padding:35px 17.5px; background:rgba(99, 137, 255, 0.5);
    border-radius:0 0 100px 0;
}
.xb-rent-wrap {display:flex; flex-wrap:wrap; justify-content:center; width:750px;}
.xb-rent-wrap-specipic {justify-content:right; position:relative; width:750px;}

.xb-arti-wrap-specipic {position:absolute; right:17.5px; width:350px;}
.xb-rent-arti h4 {
    flex-wrap:wrap; width:186px; margin:70px auto 0; line-height:36px;
}
.xb-rent-arti h5 {margin:25px auto;}
.xb-rent-ygrn-bar1, .xb-rent-ygrn-bar2 {margin:0 auto 25px;}

.xb-rent-bg1{position:absolute; left:17.5px; margin-bottom:35px;}
.xb-rent-bg2 {margin:435px 17.5px 0;}
.xb-rent-bg3 {margin:435px 0 0 17.5px;}



/* ===== 서브 3 DELI 박스 =====*/
.xb-rent-container2{
    background:rgba(211, 211, 105, 0.5);
    border-radius:100px 0 0 0;
}
.xb-rent-arti-wrap {width:330px; height:400px; margin:0 35px;}
.xb-deli-art1 h4 {margin:50px auto 0;}
.xb-dtd-art2 p:nth-child(4), .xb-deli-art2 p:nth-child(4) {margin-top:30px;}

.xb-rent-bg4 {margin-bottom:35px;}
.xb-rent-bg5 {margin:0 35px 65px 0;}
.xb-rent-bg6 {margin-left:0;}



/* ===== 서브 4 =====*/
.xb-loca-container {
    position:relative; height:255px; margin:70px auto 35px;
}
.xb-loca-bg {
    position:relative;
    width:255px; height:255px; margin:0 auto;
    border:3px solid #d3d369;
    border-radius:50%;
}
.xb-loca-sm-ellip {
    position:absolute;
    width:45px; height:45px;
    background:#6389ff;
    box-shadow:50px 50px 0 0 rgba(0,0,0,0.3) inset;
    border-radius:50%;
}
.xb-loca-sm-ellip a {display:none;}
.xb-loca-sm1 {left:2%; top:10%;}
.xb-loca-sm2 {left:88%; top:23%;}
.xb-loca-sm3 {left:35%; top:90%;}

.xb-loca-container h3, .xb-loca-container p {
    position:absolute; top:115px; width:100%; line-height:100%;}
.xb-loca-container p {margin-top:50px;}

.xb-loca-sm-ellip:hover {
    width:150px; height:45px; border-radius:30px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.xb-loca-sm-ellip:hover a {
    display:block; text-align:center; line-height:45px;
    font-size:17px; font-weight:500;
    color:#d3d369;
}
.xb-loca-sm1:hover {left:-20%;}
.xb-loca-sm2:hover {left:68%;}
.xb-loca-sm3:hover {left:15%;}
}




@media screen and (max-width:749px){
/* 검토 */
h2{width:330px; margin:0 auto; line-height:50px; text-align:center;}
h5 {font-size:16px; text-transform:uppercase;}
.sub-title {width:350px; margin:0 auto;}

.xb-con-container { position:relative; width:100%; height:380px;}

.xb-cs-bg1{
    position:absolute;
    width:100%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-tb-bg1.jpg) no-repeat right center;
    border-radius:0 0 100px 0;
}
.xb-cs-back-b {
    position:absolute; left:23%; top:25px;
    width:300px; height:305px;
    border-radius:30px;
    background:#6389ff;
}
.xb-cs-front-b {
    position:absolute; left:18%; top:50px;
    width:300px; height:305px;
    text-align:center; 
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b h4 {
    position:absolute; left:29%; top:9%; width:122px;
    line-height:24px;
}
.xb-con-ygrn-bar1, .xb-con-ygrn-bar2 {
    position:absolute; left:33%; top:36%;
}
.xb-cs-front-b h5 {
    position:absolute; left:0; top:49%; width:100%; text-transform:capitalize;
}
.xb-cs-front-b a {position:absolute; left:33%; top:65%;} /*공통 스타일시트 적용하고 위치 검토*/
/* a 태블릿, 모바일 위치 검토 */

.xb-cs-front-b p {
    position:absolute; left:0; top:87.2%; width:100%; font-size:10px;
}


/* ===== 서브1 시리즈s ===== */
.xb-sub-con h3 {width:250px; margin:0 auto;}
.xb-con-container2 {position:relative; width:100%; height:380px; margin-top:25px;}

.xb-cs-bg2{
    position:absolute; right:0;
    width:100%; height:100%;
    background:#a1a1a1 url(/resources/img/xbox/imgs/dt/xb-cs-tb-bg2.jpg) no-repeat left center;
    border-radius:100px 0 0 0;
}
.xb-cs-back-b2 {
    position:absolute; right:23%; top:50px;
    width:300px; height:305px;
    border-radius:30px;
    background:#d3d369;
}
.xb-cs-front-b2 {
    position:absolute; right:18%; top:25px;
    width:300px; height:305px;
    text-align:center;
    border-radius:30px;
    background:rgba(0, 0, 0, 0.65);
}
.xb-cs-front-b2 h4 {
    position:absolute; right:31%; top:9%; width:122px;
    line-height:24px;
}
.xb-cs-front-b2 h5 {
   position:absolute; left:0; top:49%; width:100%; text-transform:capitalize;
}
.xb-cs-front-b2 a {position:absolute; right:34%; top:65%;}

.xb-cs-front-b2 p {
    position:absolute; right:0; top:87.2%; width:100%; font-size:10px;
}


/* ====== 서브2 ===== */
.xb-sub-acc p {width:250px; margin:0 auto;}
.xb-acc-container {position:relative;}
.xb-acc-slide {display:flex; justify-content:center; flex-wrap:wrap; overflow:hidden; height:300px;}

.xb-acc-slide li {
    display:flex; justify-content:center; align-items:center;
    width:400px; height:300px; margin:0 17.5px; padding:0 100px;
    font-size:28px; text-align:center; line-height:30px;
    border-radius:30px;
}
.xb-acc-slide li:first-child {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-controllers.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(2) {
    background:url(/resources/img/xbox/imgs/dt/xb-acc-consolewraps.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(3){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-chager.jpg) no-repeat;
}
.xb-acc-slide li:nth-child(4){
    background:url(/resources/img/xbox/imgs/dt/xb-acc-headsets.jpg) no-repeat;
}
.xb-acc-slide li:last-child{
    background:url(/resources/img/xbox/imgs/dt/xb-acc-storage.jpg) no-repeat;
}

/* ===== 서브3 DTD 박스===== */
.xb-rent-container, .xb-rent-container2{
    display:flex; flex-wrap:wrap; justify-content:center; text-align:center; padding:25px 12.5px; background:rgba(99, 137, 255, 0.5);
    border-radius:0 0 100px 0;
}
.xb-rent-wrap {display:flex; flex-wrap:wrap; justify-content:center; width:350px; margin:0 auto;}
.xb-rent-arti-wrap {display:flex;}
.xb-rent-arti { margin:0 12.5px 12.5px;}
.xb-rent-arti h4 {flex-wrap:wrap; width:129px; line-height:30px;}
.xb-rent-arti h5 {margin:25px auto;}
.xb-rent-ygrn-bar1, .xb-rent-ygrn-bar2 {margin:0 auto;}
.xb-rent-bg {margin:12.5px auto;}

/* ===== 서브 3 DELI 박스 =====*/
.xb-rent-container2{background:rgba(211, 211, 105, 0.5); border-radius:100px 0 0 0;}
.xb-deli-art1 {margin-top:25px;}
.xb-dtd-art2 p:nth-child(4), .xb-deli-art2 p:nth-child(4) {margin-top:30px;}


/* ===== 서브 4 =====*/
.xb-loca-container {position:relative; height:255px; margin:50px auto 25px;}
.xb-loca-bg {
    position:relative;
    width:255px; height:255px; margin:0 auto;
    border:3px solid #d3d369;
    border-radius:50%;
}
.xb-loca-sm-ellip {
    position:absolute;
    width:45px; height:45px;
    background:#6389ff;
    box-shadow:50px 50px 0 0 rgba(0,0,0,0.3) inset;
    border-radius:50%;
}
.xb-loca-sm-ellip a {display:none;}
.xb-loca-sm1 {left:2%; top:10%;}
.xb-loca-sm2 {left:88%; top:23%;}
.xb-loca-sm3 {left:35%; top:90%;}

.xb-loca-container h3, .xb-loca-container p { position:absolute; left:0; top:110px; width:100%; line-height:100%;}
.xb-loca-container p {margin-top:50px}

.xb-loca-sm-ellip:hover {
    width:150px; height:45px; border-radius:30px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.xb-loca-sm-ellip:hover a {
    display:block; text-align:center; line-height:45px;
    font-size:17px; font-weight:500;
    color:#d3d369;
}
.xb-loca-sm1:hover {left:-20%;}
.xb-loca-sm2:hover {left:68%;}
.xb-loca-sm3:hover {left:15%;}
}