<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.gamepex.mappers.user.rental">
 
 	<insert id="register" parameterType="com.gamepex.share.RentalVO" useGeneratedKeys="true" keyProperty="rt_no">
 		insert into tbl_rental (
			con_serial
			, ttl_serial
			, mb_id
			, rt_days
			, rt_shipfee
			, rt_quantities
			, rt_amount
			, rt_regdate
			, rt_payment
			, rt_state
			, rt_name
			, rt_zipcode
			, rt_addr
			, rt_addrdet
			, rt_tel
			, rt_req
			, rt_startdate
			, rt_enddate
			, rt_rtndate
			, rt_moddate
 		) values (
			#{con_serial}
			, #{ttl_serial}
			, #{mb_id}
			, #{rt_days}
			, #{rt_shipfee}
			, #{rt_quantities}
			, #{rt_amount}
			, now()
			, #{rt_payment}
			, 0
			, #{rt_name}
			, #{rt_zipcode}
			, #{rt_addr}
			, #{rt_addrdet}
			, #{rt_tel}
			, #{rt_req}
			, #{rt_startdate}
			, DATE_ADD(#{rt_startdate}, INTERVAL #{rt_days} DAY)
			, null
			, now()
 		)
 	</insert>
	
 	<select id="getLatestRental" parameterType="String" resultType="com.gamepex.share.RentalDTO">
 		select
 			rt.rt_no
			, rt.rt_days
			, rt.rt_shipfee
			, rt.rt_quantities
			, rt.rt_amount
			, rt.rt_regdate
			, rt.rt_payment
			, rt.rt_invoice
			, rt.rt_state
			, rt.rt_name
			, rt.rt_zipcode
			, rt.rt_addr
			, rt.rt_addrdet
			, rt.rt_tel
			, rt.rt_req
			, rt.rt_startdate
			, rt.rt_enddate
			, rt.rt_rtndate
			, rt.rt_moddate
			, rt.mb_id
			, m.mb_name
			, m.mb_nickname
			, m.mb_gender
			, m.mb_mail
			, m.mb_phone
			, m.mb_zipcode
			, m.mb_addr
			, m.mb_addr_detail
			, m.mb_grade
			, m.mb_state
			, rt.con_serial
			, c.con_name
			, c.con_platform
			, c.con_price
			, c.con_thumbnail
			, c.con_stock
			, c.con_state
			, rt.ttl_serial
			, t.ttl_name
			, t.ttl_genre
			, t.ttl_price
			, t.ttl_thumbnail
			, t.ttl_stock
			, t.ttl_state
 		from tbl_rental as rt
 			join tbl_member as m on rt.mb_id = m.mb_id
 			left join tbl_console as c on rt.con_serial = c.con_serial
 			left join tbl_title as t on rt.ttl_serial = t.ttl_serial
 		where rt.mb_id = #{mb_id}
 		order by rt.rt_regdate desc LIMIT 1
	</select>


 
 </mapper>
