<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gamepex.mapeprs.user.cart">
  	<insert id="cartReg" parameterType="com.gamepex.share.CartVO">
  		insert into tbl_cart (
			 con_serial
			 ,ttl_serial
			 ,mb_id
			 ,ct_quantity
			 ,ct_ischecked <!--체크된 상품(1: true(체크됨, 기본값), 0: false) -->
			 ,ct_days
			 ,ct_startdate
			 ,ct_enddate
			 ,ct_shipfee
			 ,ct_amount
  		) values (
  			IFNULL(#{con_serial},'')
			 ,IFNULL(#{ttl_serial},'')
			 ,#{mb_id}
			 ,#{ct_quantity}
			 ,#{ct_ischecked}
			 ,#{ct_days}
			 ,#{ct_startdate}
			 ,#{ct_enddate}
			 ,#{ct_shipfee}
			 ,#{ct_amount}
  		)
  		on duplicate key update
  			ct_quantity=ct_quantity+#{ct_quantity}
  			,ct_amount=ct_amount+#{ct_amount}
  			,ct_days=#{ct_days}
  			,ct_startdate=#{ct_startdate}
			,ct_enddate=#{ct_enddate}
  	</insert>

  	<select id="getCartList" parameterType="String" resultType="com.gamepex.share.CartDTO">
  		select
  			ct.mb_id
			,ct.ct_quantity
			,ct.ct_ischecked
			,ct.ct_days
			,ct.ct_startdate
			,ct.ct_enddate
			,ct.ct_shipfee
			,ct.ct_amount
	
			,ct.con_serial
			,c.con_name
			,c.con_platform
			,c.con_price
			,c.con_thumbnail
			
			,ct.ttl_serial
			,t.ttl_name
			,t.ttl_genre
			,t.ttl_price
			,t.ttl_thumbnail
  		from tbl_cart as ct
	  		join tbl_member as m on ct.mb_id = m.mb_id
	  		left join tbl_console as c on ct.con_serial = c.con_serial
	  		left join tbl_title as t on ct.ttl_serial = t.ttl_serial
  		where ct.mb_id = #{mb_id}
  	</select>
  	
  
  </mapper>
