<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamepex.user.member.UserMemberDAO">

	<!-- 회원 아이디 중복 확인 -->
	<select id="idCheck" parameterType="String" resultType="int">
		select count(*)
		from tbl_member
		where mb_id = #{value}
	</select>

	<!-- 회원 가입 -->
	<insert id="register" parameterType="com.gamepex.share.MemberVO">
		insert into tbl_member
		(
		    mb_id
		    , mb_pw
		    , mb_name
		    , mb_gender
		    , mb_birth
		    , mb_phone
		    , mb_mail
		)
		values
		(
		    #{mb_id}
		    , #{mb_pw}
		    , #{mb_name}
		    , #{mb_gender}
		    , #{mb_birth}
		    , #{mb_phone}
		    , #{mb_mail}
		)
	</insert>
	
	<!-- 회원 정보 수집 -->
	<select id="getMember" parameterType="String" resultType="com.gamepex.share.MemberVO">
		select * from tbl_member
		where mb_id = #{value}
	</select>
	
	<!-- 회원 수정 처리 -->
	<update id="modifyMember" parameterType="com.gamepex.share.MemberVO">
		update tbl_member
		set
			mb_name     = #{mb_name}
			, mb_no       = #{mb_no}
			, mb_gender   = #{mb_gender}
			, mb_birth    = #{mb_birth}
			, mb_phone    = #{mb_phone}
			, mb_mail     = #{mb_mail}
			, mb_state    = #{mb_state}
		where mb_id = #{mb_id}
	</update>

	<!-- 회원 삭제 -->
	<delete id="deleteMember" parameterType="String">
		delete from tbl_member
		where mb_id = #{value}
	</delete>
	
</mapper>











